[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = all
[submodule "argc-completions"]
	path = argc-completions
	url = https://github.com/sigoden/argc-completions
	ignore = all
